<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <h2><%= pluralize(user.errors.count, "error") %> al registrar usuario</h2>

        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nombre' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :pass, 'Contrasena' %>
    <%= f.password_field :pass %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
