<header>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to surveys_path, class: 'navbar-brand' do %>
            <%= render 'shared/rr_logo' %>
        <% end -%>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="<%= is_active?(surveys_path) %>">
            <%= link_to surveys_path do %>
                Todos los quiz
                <span class='badge'> <%= surveys_count %> </span>
            <% end -%>
          </li>
          <li class="<%= is_active?(surveys_path) %>">
            <li> <%= link_to 'Nuevo quiz', new_survey_path(type: 'quiz') %> </li>
          </li>
        </ul>
        <% if current_user %>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <p class="navbar-text">
                  Iniciado como:
                  <b> <%= current_user.name %> </b>
                  <%= link_to '(change name)', '#', 'data-toggle': 'modal', 'data-target': '#submit-name-modal' %>
                </p>
              </li>
            </ul>
        <% end %>
      </div>
    </div>
  </div>

</header>