<header>
  <div class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <%= link_to surveys_path do %>
            <img src="https://i.gyazo.com/8f7dbd641dff308b869102e029e55895.png">
          <% end -%>
        </a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="<%= is_active?(surveys_path) %>">
            <%= link_to surveys_path do %>
                Todos los quiz
                <span class='badge'> <%= surveys_count %> </span>
            <% end -%>
          </li>
          <li class="<%= is_active?(surveys_path) %>">
            <li> <%= link_to 'Nuevo quiz', new_survey_path(type: 'quiz') %> </li>
          </li>
        </ul>
        <% if current_user %>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <p class="navbar-text">
                  Usuario:
                  <b> <%= current_user.name %> </b>
                </p>
              </li>
            </ul>
        <% end %>
      </div>
    </div>
  </div>

</header>