<tr class="survey">
  <td> <%= survey.name %> </td>
  <td> <span class="survey-description"> <%= "#{survey.description}" %> </span> </td>
  <td class="table-center"> <%= number_of_questions(survey) %> </td>
  <td class="table-center"> <%= number_of_attempts(survey) %> </td>
  
  <td class="table-center survey-buttons">
    <div class="btn-group" role="group">
      <%= link_to edit_survey_path(survey.id), class: 'btn btn-default btn-sm' do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
      <% end %>

      <%= link_to survey_path(survey.id), class: 'btn btn-default btn-sm', method: :delete, data: {confirm: "¿Estás seguro que deseas borrar la prueba?"} do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i> Borrar
      <% end %>
    </div>
  </td>
</tr>
