<!DOCTYPE html>
<html>
  <head>
    <title>Thinker</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if logged_in? %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flash' %>
      <%= yield %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
